/* Project Content  */
.projectcontent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.325fr;
    grid-template-rows: max-content 1fr;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.projectcontent[data-borderbottom=true] {
    padding-bottom: calc(var(--padding-med) / 1.5);
}

.projectcontent[data-flip=true] {
    grid-template-columns: 0.325fr 1fr;
}

.projectcontent__title {
    padding: 0 0 calc(var(--padding-very-small) / 2);
    margin-right: calc(var(--padding-very-small) / 1.5);
    font-size: var(--font-large);
    font-weight: 400;
    cursor: default;
    text-align: center;
}

.projectcontent[data-flip=true] .projectcontent__title {
    grid-column: 2;
    margin-left: calc(var(--padding-very-small) / 1.5);
    margin-right: 0;
}

.projectcontent__image-container {
    position: relative;
    grid-column: 1;
    grid-row: 2;
    margin-right: calc(var(--padding-very-small) / 1.5);
}

.projectcontent[data-flip=true] .projectcontent__image-container {
    grid-column: 2;
    margin-left: calc(var(--padding-very-small) / 1.5);
    margin-right: 0;
}

.projectcontent__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* right Column */
.projectcontent__right-column {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1 / end;
    padding-left: calc(var(--padding-very-small) / 1.5);
}

.projectcontent[data-flip=true] .projectcontent__right-column {
    grid-column: 1;
    grid-row: 1 / end;
    padding-left: 0;
    padding-right: calc(var(--padding-very-small) / 1.5);
}

.projectcontent__description-title {
    font-family: var(--primary-font);
    margin-bottom: calc(var(--padding-very-small) / 5);
    margin-top: calc(var(--padding-very-small) / -2);
    font-size: calc(var(--font-med) * 1.8);
    cursor: default;
}

.projectcontent__description {
    padding-bottom: var(--padding-very-small);
    font-family: var(--secondary-font);
    font-size: var(--font-very-small);
    font-weight: 500;
    text-indent: calc(var(--font-very-small) * 2);
    overflow: auto;
}

.projectcontent__tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--padding-very-small) / 3);
    margin-top: auto;
    list-style: none;
}

.projectcontent[data-flip=true] .projectcontent__tag-container {
    justify-content: end;
}

.projectcontent__tag {
    padding: calc(var(--padding-very-small) / 12) calc(var(--padding-very-small) / 3);
    font-family: var(--secondary-font);
    font-size: calc(var(--font-very-small) / 1.25);
    font-weight: 500;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    user-select: none;
}

.projectcontent__link-container {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.projectcontent__link-item {
    display: flex;
}

.projectcontent__link {
    position: relative;
    z-index: 1;
    padding: calc(var(--padding-very-small) / 3) 0;
    margin-top: calc(var(--padding-very-small) / 3);
    width: 100%;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-very-small) * 1.25);
    font-weight: 500;
    background-color: transparent;
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.30s ease-out;
    user-select: none;
}

/* Pseudo element */
.projectcontent__image-container::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle,
            transparent,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4));
    content: "";
}

.projectcontent__right-column::before {
    position: absolute;
    top: 0;
    height: 0;
    width: 1px;
    border-left: solid 1px var(--secondary-color);
    content: "";
    transition: 0.5s ease-out;
}

.projectcontent[data-flip=false] .projectcontent__right-column::before {
    left: 0;
}

.projectcontent[data-flip=true] .projectcontent__right-column::before {
    right: 0;
}

.projectcontent[data-borderbottom=true]::before {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    z-index: 100;
    border-bottom: solid 1px var(--secondary-color);
    content: "";
    transition: 0.35s ease-out;
}

.projectcontent[data-borderbottom=true]::before,
.projectcontent[data-borderbottom=true]::after {
    position: absolute;
    right: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    border-bottom: solid 1px var(--secondary-color);
    content: "";
    transition: 0.35s ease-out;
    transition-delay: 0.20s;
}

.projectcontent[data-borderbottom=true]::before {
    left: 50%;
}

.projectcontent__link::before {
    position: absolute;
    z-index: -2;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: var(--secondary-color);
    content: "";
    transition: 0.275s ease-out;
}

/* Animation */
.projectcontent__link:hover {
    color: var(--primary-color);
}

.projectcontent__link:hover::before {
    height: 100%;
}

.projectcontent[data-border="true"] .projectcontent__right-column::before {
    height: 100%;
}

.projectcontent[data-borderbottom=true][data-border="true"]::before,
.projectcontent[data-borderbottom=true][data-border="true"]::after {
    width: 50%;
}