/* Filler */
.filler {
    display: flex;
    flex-direction: column;
    padding: var(--padding-large);
    align-items: center;
    justify-content: center;
    min-height: 82.5dvh;
}

.filler__text-container {
    font-family: var(--primary-font);
    font-size: calc(var(--font-large) / 1.5);
    font-weight: 300;
    color: var(--secondary-color);
    text-align: center;
    cursor: default;
}