/* Nav */
.nav {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 100;
    padding: var(--padding-small) var(--padding-large) 0;
    justify-content: space-between;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--secondary-color);
}

.nav__menu-container {
    display: flex;
    gap: var(--padding-small);
    list-style: none;
}


.nav__menu-item {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav__title,
.nav__link {
    position: relative;
    font-size: var(--font-small);
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.15s ease-in-out;
    user-select: none;
}

.nav__title {
    font-size: var(--font-med);
}

.nav__button-container {
    display: none;
    aspect-ratio: 1 / 1;
    float: right;
}

.nav__button {
    display: none;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: url("./icons/menu.svg") no-repeat center / cover;
    border: none;
    cursor: pointer;
}

/* Pseudo Elements */
.nav__link::before {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background-color: var(--secondary-color);
    content: "";
    transition: 0.25s ease-in-out;
}

/* Animation */
.nav__link:hover:before {
    width: 100%;
    left: 0;
}

.nav__link:hover {
    translate: 0 -5%;
}