/* Header */
.header {
    padding: 0 var(--padding-very-small);
    min-height: calc(100dvh - var(--padding-small) - calc(var(--font-med) * 1.20));
    font-family: var(--primary-font);
    color: var(--secondary-color);
    cursor: default;
    text-transform: uppercase;
    scroll-margin-top: calc(var(--padding-small) + calc(var(--font-med) * 1.20));
}

.header__row {
    display: flex;
    overflow: hidden;
}

.header__title-container {
    display: flex;
}

.header-row__title {
    font-size: var(--font-very-large);
    font-weight: 500;
}

.header-row__message {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: calc(var(--padding-very-small) / 3);
    padding: var(--padding-med) var(--padding-small) 0;
    align-items: end;
    justify-content: center;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-small) * 1.15);
    font-weight: 500;
    text-transform: none;
}

.message-mobile {
    display: none;
}