/* Format
    - Position / Position Format (Top = right - bot - left)
    - z index
    - Displat / Display Format
    - gap/padding/marging
    - aligments
    - size
    - font
    - extras
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS */
@import "./component/app/media.css";
@import "./component/nav/nav.css";
@import "./component/header/header.css";
@import "./component/marquee/marquee.css";
@import "./component/projectcontent/projectcontent.css";
@import "./component/projects/projects.css";
@import "./component/filler/filler.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Raleway", sans-serif;

    /* Colors */
    --primary-color: #ede3d5;
    --secondary-color: #1c1f25;
    --accent-color: #bbbd9a;

    /* padding */
    --padding-very-small: clamp(0.5rem, max(1rem, 2vmax), max(2rem, 3vmax));
    --padding-small: clamp(1rem, max(2rem, 3vmax), max(4rem, 5vmax));
    --padding-med: clamp(2rem, max(3rem, 4.5vmax), max(5rem, 6vmax));
    --padding-large: clamp(4rem, max(6rem, 7.5vmax), max(8rem, 9.5vmax));

    /* Font Size */
    --font-very-small: clamp(0.5rem, max(1rem, 1.25vmax), max(2rem, 2.25vmax));
    --font-small: clamp(1rem, max(1.25rem, 1.25vmax), max(2.25rem, 2.25vmax));
    --font-med: clamp(1.25rem, max(1.5rem, 1.75vmax), max(2.5rem, 2.75vmax));
    --font-large: clamp(5rem, max(6rem, 7vmax), max(7rem, 8vmax));
    --font-very-large: clamp(11rem, max(12.25rem, 14.5vmax), max(13rem, 15.25vmax));
}

/* Scorll Bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #606266;
}

::-webkit-scrollbar-thumb:hover {
    background: #33353b;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

