/* Format
    - Position / Position Format (Top = right - bot - left)
    - z index
    - Displat / Display Format
    - gap/padding/marging
    - aligments
    - size
    - font
    - extras
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* CSS */

@import "./component/app/media.css";
@import "./component/nav/nav.css";
@import "./component/marquee/marquee.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Raleway", sans-serif;

    /* Colors */
    --primary-color: #ede3d5;
    --secondary-color: #1c1f25;
    --accent-color: #c79b74;

    /* padding */
    --padding-very-small: clamp(0.5rem, max(1rem, 2vmax), max(2rem, 3vmax));
    --padding-small: clamp(1rem, max(2rem, 3vmax), max(4rem, 5vmax));
    --padding-med: clamp(2rem, max(3rem, 4vmax), max(5rem, 6vmax));
    --padding-large: clamp(4rem, max(6rem, 7.5vmax), max(8rem, 9.5vmax));

    /* Font Size */
    --font-very-small: clamp(0.5rem, max(1rem, 1.25vmax), max(2rem, 2.25vmax));
    --font-small: clamp(1rem, max(1.25rem, 1.25vmax), max(2.25rem, 2.25vmax));
    --font-very-large: clamp(11rem, max(12.25rem, 14.25vmax), max(13rem, 15vmax));
}

body {
    background-color: var(--primary-color);
}

.header {
    padding: 0 var(--padding-very-small);
    font-family: var(--primary-font);
    color: var(--secondary-color);
    cursor: default;
    text-transform: uppercase;
}

.header__row {
    display: flex;
    overflow: hidden;
}

.header-row__title {
    font-size: var(--font-very-large);
    font-weight: 500;
}

.header-row__message {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: calc(var(--padding-very-small) / 3);
    padding: var(--padding-med) var(--padding-small) 0;
    align-items: end;
    justify-content: center;
    font-family: var(--secondary-font);
    font-size: calc(var(--font-small) * 1.15);
    font-weight: 600;
    text-transform: none;
}