/* Temp */
@media (min-width: 576px) and (max-width: 767px) {

    /* Nav */
    .nav__button,
    .nav__menu-item {
        display: block;
    }

    .nav__button-container,
    .nav__menu-container {
        display: block;
        height: var(--padding-small);
    }

    .nav__menu-container[data-menu=false] {
        overflow: hidden;
    }

    .nav__link {
        margin-top: calc(var(--padding-very-small) / 1.5);
        float: right;
    }
}